<div class="aids-presentation">
    <h1>Le Dispositif AquiMob</h1>
    
    <p>
        AquiMob n’est pas une bourse. Il s’agit d’un dispositif qui permet aux étudiants 
        inscrits dans un des 17 établissements d’enseignement supérieur aquitain partenaire 
        et partant à l’étranger dans le cadre de leur cursus (mobilité formation ou stage) 
        de déposer en ligne un dossier unique de demande d’aide financière à la mobilité 
        internationale pour les aides disponibles dans leur établissement.
    </p>
    <p>
        L’attribution d’une aide n’est pas automatique. Elle dépend des critères d’éligibilité 
        propres à chaque aide et aux enveloppes disponibles. Il convient de s’informer auprès 
        du service relations internationales de votre établissement.
    </p>
</div> 