.back-to-aids-list {

    .material-icons {
        // padding-bottom: 8px;
        transform: rotate(180deg);
    }
}
.aid-detail {
    max-width: 450px;
    margin: 2vh auto;
    @media screen and (min-width: 767px) {
        margin: 8vh auto;
    }
}

.aid-name {
    text-align: center;
    font-weight: bold;
}

.aid-description {
    line-height: 2;
    text-align: justify;
}